// Fonts
$font-roboto: 'Roboto', sans-serif;
$font-mina: 'Mina', sans-serif;

// Colors
$light: #f9f9f9;
$purple: #4b12b9;
$red: #fd104d;
$red-hover: #e00a40;
$success: #1eb925;
$warning: #f2b600;
$info: #20aee4;
$danger: $red;