@{
    ViewData["Title"] = "Objednávka dokončena";
}

<div id="order-success-page">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a class="back-link" href="#"><i class="fas fa-angle-double-left mr-1"></i> zpět na výpis</a>
                </div>
                <div class="col d-none d-md-block">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Nákupní košík</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="inner container my-5 text-center">
        <h1 class="h2 mb-4">Jsem tak prázdný..</h1>
        <i class="far fa-frown"></i>
        <p>Váš nákupní košík je prázdný. K provedení objednávky si nejprve zvolte
            vámi požadované zboží a akci proveďte znovu. Potřebujete-li pomoc s výběrem, 
            neváhejte a kontaktujte nás - rádi vám poradíme.</p>
        <p>S pozdravem, tým <strong>AppShop.</strong></p>
    </div>
</div>