<header>
    <div class="container">
        <div class="row align-items-center">
            <div id="logo" class="col">
                <a routerLink="/admin">
                    <img src="/manage/images/logo.svg">
                    <span class="ml-3">AppShop<small>admin</small></span>
                </a>
            </div>
            <div class="col text-right">
                <a id="list-news" href="#">
                    <img src="/manage/images/icons/alarm.svg" height="30" />
                    <span class="quantity text-center rounded-circle">7</span>
                </a>
                <app-user-nav></app-user-nav>
                <app-mobile-nav></app-mobile-nav>
            </div>
        </div>
    </div>
</header>